.pinkbluebg {
    background-color: #feeeec;
    background-image: linear-gradient(180deg, #feeeec 15%, #B5FFFC 100%);
}
.btn_school:hover {
    padding-left: 0.5rem;
    color: #515022;
    background: #6C6A2D;
    border-bottom: black;
    border-bottom: 1px;
}
.social-icon:hover {
    fill: #f4f4f4;
}
.msf-h1{
    font-size: 36px;
}
.msf-sh1{
    font-size: 24px;
    line-height: 150%;
}
.productBlock {
    margin-left: 0px !important;
    margin-right: 8px !important;
}

.phoneRadius {
    border-radius: 16px;
    overflow: hidden;
}
.msf-info-s{
    font-size: 18px;
    line-height: 150%;
}
.msf-uiuxHeader{
     background: linear-gradient(90deg, #465375 0%, #758AC2 100%); 
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 0.5em;
}

.msf-heightlight {
    border-left: 2px solid black;
    padding-left: 8px;
}

.msf-heightlight-w {
    border-left: 2px solid white;
    padding-left: 8px;
}

